<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h1>작업 목록</h1>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>작업 이름</th>
                <th>작업 설명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.desc}"></td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" href="#"
                       th:href="'javascript:updateTask('+${task.id}+', `'+${task.name}+'`, `'+${task.desc}+'`)'">수정</a>
                    <a class="btn btn-sm btn-outline-danger" href="#"
                       th:href="'javascript:deleteTask('+${task.id}+')'">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-lg btn-secondary" href="/tasks/new">작업 추가</a>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function updateTask(id, name, desc) {
        let form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/tasks/" + id + "/update");

        document.body.appendChild(form);
        form.submit();
    }
    function deleteTask(id) {
        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/tasks/" + id + "/delete");

        document.body.appendChild(form);
        let input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "_method");
        input.setAttribute("value", "delete");

        form.appendChild(input);
        form.submit();
    }
</script>
</html>