<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="/fragments/bodyHeader :: bodyHeader" />

<!--    <script type="text/javascript" th:if="${sessionInvalid}">-->
<!--        alert("로그인이 필요한 서비스입니다.");-->
<!--    </script>-->
    <script th:inline="javascript">
        /*<![CDATA[*/

        if([[${sessionInvalid}]] != null){
            var message = [[${sessionInvalid}]];
            alert(message);
        }

        if([[${wrongDataAccess}]] != null){
            var message = [[${wrongDataAccess}]];
            alert(message);
        }

        /*]]>*/
    </script>
    <div class="jumbotron">
        <h1 th:if="${loginName == null}">Spring Todo</h1>
        <p>
            <h1 th:unless="${loginName == null}" th:text="${'Spring Todo - '+loginName + '님 안녕하세요!'}">Spring Todo - "이름"님 안녕하세요!</h1>
        </p>
        <a th:if="${loginName == null}" class="btn btn-lg btn-secondary" href="/oauth2/authorization/google">회원가입 & 로그인</a>
        <p th:if="${loginName != null}" class="lead">작업 관리</p>
        <p>
            <a th:if="${loginName != null}" class="btn btn-lg btn-dark" href="/tasks/new">작업 등록</a>
            <a th:if="${loginName != null}" class="btn btn-lg btn-dark" href="/tasks">작업 목록</a>
        </p>
        <p th:if="${loginName != null}" class="lead">오늘의 할일</p>
        <p>
            <a th:if="${loginName != null}" class="btn btn-lg btn-info" href="/todo/new">할일 작성</a>
            <a th:if="${loginName != null}" class="btn btn-lg btn-info" href="/todo/today">오늘의 할일</a>
            <a th:if="${loginName != null}" class="btn btn-lg btn-info" href="/todo/calendar">달력 보기</a>
        </p>
    </div>

    <div th:replace="/fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>