<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<script th:inline="javascript">
    async function changeStatus(todoTaskId){
        let checkBox = document.getElementById('status'+todoTaskId);
        let checked = checkBox.getAttribute('checked');
        let status = (checked === 'checked') ? [[${todoTaskStatus[1]}]] : [[${todoTaskStatus[0]}]]
        const response = fetch("http://localhost:8080/todo/todoTasks/changeStatus", {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;charset=UTF8',
            },
            body: JSON.stringify({
                todoId: [[${todaysTodo.getId()}]],
                todoTaskId: todoTaskId,
                status: status,
            }),
        });
        response
            .then(res => res.json())
            .then(data => {
                let checked = (data['status'] == [[${todoTaskStatus[0]}]]) ? 'unchecked' : 'checked';
                checkBox.setAttribute('checked', checked);
            });
    }
</script>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h1>오늘의 할일</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>작업 이름</th>
            <th>작업 설명</th>
            <th>완료/취소</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="todoTable">
        <tr th:each="todoTask : ${todaysTodo.todoTasks}" th:id="${todoTask.getId()}">
            <td><span th:id="'name' + ${todoTask.getId()}" th:text="${todoTask.getName()}">Name</span></td>
            <td><span th:id="'desc' + ${todoTask.getId()}"  th:text="${todoTask.getDesc()}">Desc</span></td>
            <td><input type="checkbox" class="form-check-input" th:id="'status' + ${todoTask.getId()}"
                       th:checked="${todoTask.getStatus().equals(todoTaskStatus[1])}"
                       th:attr="onclick=|changeStatus('${todoTask.getId()}')|" ></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/todo/today/update">수정</a>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>